# Clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# IDEs
.idea/
*.iml
.vscode/
.calva/

# OS
.DS_Store
Thumbs.db

# Polylith
.polylith/

# Build artifacts
/projects/*/target/
/projects/*/classes/
/projects/*/pom.xml

# Development
/development/target/
/development/classes/
/development/pom.xml