;; NOTE: This is an EXAMPLE only - cannot be executed because EDN doesn't support #() function literals
;; For a working demo, see demo-simple.edn
;; Future versions will support pre-registered transform functions
{:id "sales-analysis-demo"
 :pull {:connector :csv 
        :config {:file "demo-data.csv"}}
 :transform [{:fn :filter 
              :args {:predicate #(= "sale" (:type %))}}
             {:fn :filter
              :args {:predicate #(> (Double/parseDouble (:amount %)) 1000.0)}}
             {:fn :map
              :args {:f #(assoc % :category "high-value-sale")}}
             {:fn :take
              :args {:n 10}}]
 :push {:connector :console
        :config {:format :table}}}