#kaocha/v1
{:test-paths ["components/connector-protocol/test"
              "components/pipeline-model/test"
              "components/pipeline-transform/test"
              "components/csv-connector/test"
              "components/console-connector/test"
              "components/executor/test"]
 :source-paths ["components/connector-protocol/src"
                "components/connector-protocol/interface"
                "components/pipeline-model/src"
                "components/pipeline-model/interface"
                "components/pipeline-transform/src"
                "components/pipeline-transform/interface"
                "components/csv-connector/src"
                "components/csv-connector/interface"
                "components/console-connector/src"
                "components/console-connector/interface"
                "components/executor/src"
                "components/executor/interface"]}