{:top-namespace "ocht"

 :interface-ns "interface"

 :default-profile-name "default"

 :compact-views #{}

 :tag-patterns {"stable" "stable-*"
                "release" "v[0-9]*"}

 :projects {"development" {:necessary ["connector-protocol"
                                      "console-connector" 
                                      "csv-connector"
                                      "executor"
                                      "pipeline-model"
                                      "pipeline-transform"]}
            "ocht-cli" {:necessary ["config"
                                   "connector-protocol"
                                   "console-connector" 
                                   "csv-connector"
                                   "executor"
                                   "pipeline-model"
                                   "pipeline-transform"
                                   "validation"]}}

 :profiles {"dev" {:paths ["projects/development/src"]}}

 :user-config-filename "~/.polylith/config.edn"}